<div>

  <div class="plusButton">

    <img style="width: 80px;" alt="Add" src="challenge/images/ic_add_black_24dp_2x.png" />
    <h6 style="display: initial;">New Program</h6>

  </div>
<div>
  <div class="tilesSection">

    <div class="tile1">

      <div class="tilesHeader">
        <h4>Yoga Classes</h4>
        <img class="createIcon" src="challenge/images/ic_create_black_24dp_1x.png" alt="create" />
      </div>

      <p style="font-size: 12px;">Sales by month</p>
      <img style="width: 100%;" src="challenge/images/Graph.png" alt="Graph" />

      <div class="smallgraph">
        <table>
          <tbody>
            <th class="salesReport">Total Income</th>
            <th class="salesReport">Current</th>
            <th class="salesReport">1-Year</th>

            <tr>
              <td style="padding-left: 10px;">Sales</td>
              <td style="padding-left: 10px;font-weight:bold;">$23,483</td>
              <td style="padding-left: 10px;"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

          </tbody>
        </table>

      </div>

      <p id="moreButton" ng-show="moreButton1" style="font-size: 16px;margin-top: 56px;cursor: pointer;" ng-click="expandTiles('1')">more</p>
      <div class="hideInformation" style="margin-top: 50px;" ng-show="hideInformation1">
        <table>
          <tbody>
            <th class="salesReport">Total Income</th>
            <th class="salesReport">Current</th>
            <th class="salesReport">1-Year</th>

            <tr>
              <td class="lessInfo">Monthly Unlimited</td>
              <td class="lessInfo">$11,483</td>
              <td class="lessInfo"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

            <tr>
              <td class="lessInfo">Sales</td>
              <td class="lessInfo">$23,483</td>
              <td class="lessInfo"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

            <td class="lessInfo">Monthly Unlimited</td>
            <td class="lessInfo">$11,483</td>
            <td class="lessInfo"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

            <tr>
              <td class="lessInfo">Sales</td>
              <td class="lessInfo">$23,483</td>
              <td class="lessInfo"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

          </tbody>
        </table>

      </div>
      <p id="showLess" ng-show="showLess1" style="font-size: 16px;    margin-top: 4px;cursor: pointer;" ng-click="collapseTiles('1')">less</p>

    </div>

   <div class="tile2">

      <div class="tilesHeader">
        <h4>Yoga Privates</h4>
        <img class="createIcon" src="challenge/images/ic_create_black_24dp_1x.png" alt="create" />
      </div>

      <p style="font-size: 12px;">Sales by month</p>
      <img style="width: 100%;" src="challenge/images/Graph.png" alt="Graph" />

      <div class="smallgraph">
        <table>
          <tbody>
            <th class="salesReport">Total Income</th>
            <th class="salesReport">Current</th>
            <th class="salesReport">1-Year</th>

            <tr>
              <td style="padding-left: 10px;">Sales</td>
              <td style="padding-left: 10px;font-weight:bold;">$23,483</td>
              <td style="padding-left: 10px;"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

          </tbody>
        </table>

      </div>

      <p id="moreButton" ng-show="moreButton2" style="font-size: 16px;margin-top: 56px;cursor: pointer;" ng-click="expandTiles('2')">more</p>
      <div class="hideInformation" style="margin-top: 50px;" ng-show="hideInformation2">
        <table>
          <tbody>
            <th class="salesReport">Total Income</th>
            <th class="salesReport">Current</th>
            <th class="salesReport">1-Year</th>

            <tr>
              <td class="lessInfo">Monthly Unlimited</td>
              <td class="lessInfo">$11,483</td>
              <td class="lessInfo"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

            <tr>
              <td class="lessInfo">Sales</td>
              <td class="lessInfo">$23,483</td>
              <td class="lessInfo"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

            <td class="lessInfo">Monthly Unlimited</td>
            <td class="lessInfo">$11,483</td>
            <td class="lessInfo"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

            <tr>
              <td class="lessInfo">Sales</td>
              <td class="lessInfo">$23,483</td>
              <td class="lessInfo"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

          </tbody>
        </table>

      </div>
      <p id="showLess" ng-show="showLess2" style="font-size: 16px;    margin-top: 4px;cursor: pointer;" ng-click="collapseTiles('2')">less</p>

    </div>

      <div class="tile3">

      <div class="tilesHeader">
        <h4>Yoga Duets</h4>
        <img class="createIcon" src="challenge/images/ic_create_black_24dp_1x.png" alt="create" />
      </div>

      <p style="font-size: 12px;">Sales by month</p>
      <img style="width: 100%;" src="challenge/images/Graph.png" alt="Graph" />

      <div class="smallgraph">
        <table>
          <tbody>
            <th class="salesReport">Total Income</th>
            <th class="salesReport">Current</th>
            <th class="salesReport">1-Year</th>

            <tr>
              <td style="padding-left: 10px;">Sales</td>
              <td style="padding-left: 10px;font-weight:bold;">$23,483</td>
              <td style="padding-left: 10px;"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

          </tbody>
        </table>

      </div>

      <p id="moreButton" ng-show="moreButton3" style="font-size: 16px;margin-top: 56px;cursor: pointer;" ng-click="expandTiles('3')">more</p>
      <div class="hideInformation" style="margin-top: 50px;" ng-show="hideInformation3">
        <table>
          <tbody>
            <th class="salesReport">Total Income</th>
            <th class="salesReport">Current</th>
            <th class="salesReport">1-Year</th>

            <tr>
              <td class="lessInfo">Monthly Unlimited</td>
              <td class="lessInfo">$11,483</td>
              <td class="lessInfo"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

            <tr>
              <td class="lessInfo">Sales</td>
              <td class="lessInfo">$23,483</td>
              <td class="lessInfo"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

            <td class="lessInfo">Monthly Unlimited</td>
            <td class="lessInfo">$11,483</td>
            <td class="lessInfo"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

            <tr>
              <td class="lessInfo">Sales</td>
              <td class="lessInfo">$23,483</td>
              <td class="lessInfo"><img src="challenge/images/SmallGraph.png"></td>
            </tr>

          </tbody>
        </table>

      </div>
      <p id="showLess" ng-show="showLess3" style="font-size: 16px;    margin-top: 4px;cursor: pointer;" ng-click="collapseTiles('3')">less</p>

    </div>




</div>
<div class="allPrograms">
 <table>
          <tbody>
          <tr style="border: none; border-bottom: 1px solid #ccc;">
            <th class="salesReport" style="font-size:14px;">All Programs</th>
            <th class="salesReport" style="font-size:14px;">Monthly Sales</th>
            <th class="salesReport" style="font-size:14px;">Monthly Attendance</th>
            </tr>

            <tr>
              <td class="lessInfo"  style="font-size:18px;">Open Practice</td>
              <td class="lessInfo"  style="font-size:18px;">$575</td>
              <td class="lessInfo"  style="font-size:18px;">125 visits</td>
            </tr>

            <tr>
              <td class="lessInfo"  style="font-size:18px;">Yoga Videos</td>
              <td class="lessInfo"  style="font-size:18px;">$898</td>
              <td class="lessInfo"  style="font-size:18px;">158 visits</td>
            </tr>



          </tbody>
        </table>

</div>
  </div>


</div>
